@using BI_Project.Services.Roles;
@using BI_Project.Models.EntityModels;
@using System.Text.RegularExpressions;
@model BI_Project.Models.UI.BlockModel

@{

    BlockLangRoleListModel blockLang = (BlockLangRoleListModel)Model.LanguageModel;

    List<EntityRoleModel> blockData = (List<EntityRoleModel>)Model.DataModel;

    List<EntityDepartmentModel> lstDepartment = (List<EntityDepartmentModel>)ViewData["departments"];
}

<style>
    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        padding-top: 0px;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- /main charts -->
            <div class="panel panel-flat">
                <div class="panel-body">

                    @if (Session["msg_text"] != null)
                    {
                        string class_panel = "panel-body";
                        if (Session["msg_code"] != null)
                        {
                            int msgCode = (int)Session["msg_code"];
                            if (msgCode >= 1) { class_panel = " panel-success "; }

                            Session.Remove("msg_code");
                        }
                        <div class="panel  @class_panel">
                            <div class="panel-heading">
                                @Session["msg_text"]
                            </div>
                        </div>
                        Session.Remove("msg_text");
                    }

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover datatable-highlight">
                            <thead>
                                <tr>
                                    <th hidden></th>
                                    <th style="width:20px">@blockLang.LblNo</th>
                                    <th>@blockLang.Lblname</th>
                                    <th>@blockLang.LblDescription</th>
                                    <th>@blockLang.Department</th>
                                    <th>@blockLang.LblAction</th>
                            </thead>
                            <tbody>
                                @{
                                    int index = 0;
                                    string baseUrl = Url.Content("~");
                                    foreach (EntityRoleModel item in blockData)
                                    {
                                        index++;



                                        <tr>
                                            <td hidden></td>
                                             <td>@index</td>
                                            <td class="menu_item_@index">@item.Name</td>


                                            <td class="menu_item_@index">@item.Description</td>
                                            <td class="menu_item_@index">@item.DepartmentName</td>
                                            <td>
                                                <a href="@(baseUrl+"Roles/Create?roleid="+item.RoleId)">@blockLang.LblEdit</a>
                                                <a href="@(baseUrl+"Roles/Delete?roleid="+item.RoleId)" onclick="return confirm('@blockLang.LBLConfirmDelete?');">@blockLang.LblDelete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                          



                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

