@model bicen.Services.Importers.DNT_QMKLTN_HA1820

@using (Ajax.BeginForm("UpdateProduct", "Home", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result" }))
{
    <div class="form-group">
        <label for="MA_DVIQLY">MA_DVIQLY</label>
        @Html.TextBoxFor(x => x.MA_DVIQLY, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="TEN_CTRINH">TEN_CTRINH</label>
        @Html.TextBoxFor(x => x.TEN_CTRINH, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="THANG_BC">THANG_BC</label>
        @Html.TextBoxFor(x => x.THANG_BC, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="NAM_BC">NAM_BC</label>
        @Html.TextBoxFor(x => x.NAM_BC, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="SL_XA">SL_XA</label>
        @Html.TextBoxFor(x => x.SL_XA, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="SL_TCBD">SL_TCBD</label>
        @Html.TextBoxFor(x => x.SL_TCBD, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="DZ_HTHE">DZ_HTHE</label>
        @Html.TextBoxFor(x => x.DZ_HTHE, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="SO_HOTN">SO_HOTN</label>
        @Html.TextBoxFor(x => x.SO_HOTN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="GTCL_VVNSNN">GTCL_VVNSNN</label>
        @Html.TextBoxFor(x => x.GTCL_VVNSNN, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="GTCL_VV">GTCL_VV</label>
        @Html.TextBoxFor(x => x.GTCL_VV, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="GTCL_VDTHTX">GTCL_VDTHTX</label>
        @Html.TextBoxFor(x => x.GTCL_VDTHTX, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="GTCL_VDAN">GTCL_VDAN</label>
        @Html.TextBoxFor(x => x.GTCL_VDAN, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="GTCL_VKHAC">GTCL_VKHAC</label>
        @Html.TextBoxFor(x => x.GTCL_VKHAC, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="CPHI_TNCT">CPHI_TNCT</label>
        @Html.TextBoxFor(x => x.CPHI_TNCT, new { @class = "form-control" })
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
}

<div id="result"></div>
